@charset "UTF-8";
/* line 7, ../../app/assets/stylesheets/buttons.scss */
ul.buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 11, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
ul.buttons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 60, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.buttons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.buttons li:first-child, ul.buttons li.first {
  padding-left: 0;
}
/* line 49, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.buttons li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.buttons li.last {
  padding-right: 0;
}

/* line 12, ../../app/assets/stylesheets/buttons.scss */
.tag {
  cursor: default !important;
  margin-right: 10px !important;
}
/* line 16, ../../app/assets/stylesheets/buttons.scss */
.tag:active {
  top: 0px !important;
}

/* line 21, ../../app/assets/stylesheets/buttons.scss */
.button, .tag, .button:visited, .tag:visited {
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 0;
  border: 0;
  background: #222222 url(/assets/button_overlay.png) repeat-x;
  display: inline-block;
  padding: 8px 14px 9px;
  color: #fff !important;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  vertical-align: text-bottom;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica;
}
/* line 41, ../../app/assets/stylesheets/buttons.scss */
.button:hover, .tag:hover, .button.active, .active.tag, .button:visited:hover, .tag:visited:hover, .button:visited.active, .tag:visited.active {
  background-color: #111;
  color: #fff;
  text-decoration: none;
}
/* line 47, ../../app/assets/stylesheets/buttons.scss */
.button.active, .active.tag, .button:visited.active, .tag:visited.active {
  margin-bottom: 10px !important;
}
/* line 50, ../../app/assets/stylesheets/buttons.scss */
.button:active, .tag:active, .button:visited:active, .tag:visited:active {
  top: 1px;
}
/* line 53, ../../app/assets/stylesheets/buttons.scss */
.button:visited, .tag:visited, .button:visited:visited, .tag:visited:visited {
  padding: 8px 14px 9px;
}
/* line 57, ../../app/assets/stylesheets/buttons.scss */
.button.small, .small.tag, .button:visited.small, .tag:visited.small {
  font-size: 11px;
  padding: 3px 5px 4px;
}
/* line 62, ../../app/assets/stylesheets/buttons.scss */
.button.tiny, .tiny.tag, .button:visited.tiny, .tag:visited.tiny {
  font-size: 9px;
  padding: 2px 4px 3px;
}
/* line 67, ../../app/assets/stylesheets/buttons.scss */
.button.green, .green.tag, .tag.button.debug, .tag.button.debug:visited, .tag.button.enabled, .tag.button.enabled:visited, .button.debug, .debug.tag, .button.debug:visited, .debug.tag:visited, .button.enabled, .enabled.tag, .button.enabled:visited, .enabled.tag:visited, .button:visited.green, .tag:visited.green, .tag.button.debug:visited, .tag.button.enabled:visited, .button.debug:visited, .debug.tag:visited, .button.enabled:visited, .enabled.tag:visited {
  background-color: #91bd09;
}
/* line 69, ../../app/assets/stylesheets/buttons.scss */
.button.green.disabled, .green.disabled.tag, .disabled.tag.button.debug, .disabled.tag.button.debug:visited, .disabled.tag.button.enabled, .disabled.tag.button.enabled:visited, .button.disabled.debug, .disabled.debug.tag, .button.disabled.debug:visited, .disabled.debug.tag:visited, .button.disabled.enabled, .disabled.enabled.tag, .button.disabled.enabled:visited, .disabled.enabled.tag:visited, .button:visited.green.disabled, .tag:visited.green.disabled, .tag.button.debug:visited.disabled, .tag.button.enabled:visited.disabled, .button.debug:visited.disabled, .debug.tag:visited.disabled, .button.enabled:visited.disabled, .enabled.tag:visited.disabled {
  background-color: #818e5a;
}
/* line 73, ../../app/assets/stylesheets/buttons.scss */
.button.green:hover, .green.tag:hover, .tag.button.debug:hover, .tag.button.debug:hover:visited, .tag.button.enabled:hover, .tag.button.enabled:hover:visited, .button.debug:hover, .debug.tag:hover, .button.debug:hover:visited, .debug.tag:hover:visited, .button.enabled:hover, .enabled.tag:hover, .button.enabled:hover:visited, .enabled.tag:hover:visited, .button.green.active, .green.active.tag, .active.tag.button.debug, .active.tag.button.debug:visited, .active.tag.button.enabled, .active.tag.button.enabled:visited, .button.active.debug, .active.debug.tag, .button.active.debug:visited, .active.debug.tag:visited, .button.active.enabled, .active.enabled.tag, .button.active.enabled:visited, .active.enabled.tag:visited, .button:visited.green:hover, .tag:visited.green:hover, .tag.button.debug:visited:hover, .tag.button.enabled:visited:hover, .button.debug:visited:hover, .debug.tag:visited:hover, .button.enabled:visited:hover, .enabled.tag:visited:hover, .button:visited.green.active, .tag:visited.green.active, .tag.button.debug:visited.active, .tag.button.enabled:visited.active, .button.debug:visited.active, .debug.tag:visited.active, .button.enabled:visited.active, .enabled.tag:visited.active {
  background-color: #749a02;
}
/* line 78, ../../app/assets/stylesheets/buttons.scss */
.button.blue, .blue.tag, .button:visited.blue, .tag:visited.blue {
  background-color: #2daebf;
}
/* line 80, ../../app/assets/stylesheets/buttons.scss */
.button.blue.disabled, .blue.disabled.tag, .button:visited.blue.disabled, .tag:visited.blue.disabled {
  background-color: #578e95;
}
/* line 84, ../../app/assets/stylesheets/buttons.scss */
.button.blue:hover, .blue.tag:hover, .button.blue.active, .blue.active.tag, .button:visited.blue:hover, .tag:visited.blue:hover, .button:visited.blue.active, .tag:visited.blue.active {
  background-color: #007d9a;
}
/* line 89, ../../app/assets/stylesheets/buttons.scss */
.button.red, .red.tag, .tag.button.error, .tag.button.error:visited, .tag.button.disabled, .tag.button.disabled:visited, .button.error, .error.tag, .button.error:visited, .error.tag:visited, .button.disabled, .disabled.tag, .button.disabled:visited, .disabled.tag:visited, .button:visited.red, .tag:visited.red, .tag.button.error:visited, .tag.button.disabled:visited, .button.error:visited, .error.tag:visited, .button.disabled:visited, .disabled.tag:visited {
  background-color: #e33100;
}
/* line 91, ../../app/assets/stylesheets/buttons.scss */
.red.disabled.tag, .disabled.tag.button.error, .disabled.tag.button.error:visited, .disabled.tag.button, .disabled.tag.button:visited, .button.disabled.error, .disabled.error.tag, .button.disabled.error:visited, .disabled.error.tag:visited, .button.disabled, .disabled.tag, .button.disabled:visited, .disabled.tag:visited, .tag:visited.red.disabled, .tag.button.error:visited.disabled, .tag.button:visited.disabled, .button.error:visited.disabled, .error.tag:visited.disabled, .button:visited.disabled, .tag:visited.disabled {
  background-color: #a56857;
}
/* line 95, ../../app/assets/stylesheets/buttons.scss */
.button.red:hover, .red.tag:hover, .tag.button.error:hover, .tag.button.error:hover:visited, .tag.button.disabled:hover, .tag.button.disabled:hover:visited, .button.error:hover, .error.tag:hover, .button.error:hover:visited, .error.tag:hover:visited, .button.disabled:hover, .disabled.tag:hover, .button.disabled:hover:visited, .disabled.tag:hover:visited, .button.red.active, .red.active.tag, .active.tag.button.error, .active.tag.button.error:visited, .active.tag.button.disabled, .active.tag.button.disabled:visited, .button.active.error, .active.error.tag, .button.active.error:visited, .active.error.tag:visited, .button.active.disabled, .active.disabled.tag, .button.active.disabled:visited, .active.disabled.tag:visited, .button:visited.red:hover, .tag:visited.red:hover, .tag.button.error:visited:hover, .tag.button.disabled:visited:hover, .button.error:visited:hover, .error.tag:visited:hover, .button.disabled:visited:hover, .disabled.tag:visited:hover, .button:visited.red.active, .tag:visited.red.active, .tag.button.error:visited.active, .tag.button.disabled:visited.active, .button.error:visited.active, .error.tag:visited.active, .button.disabled:visited.active, .disabled.tag:visited.active {
  background-color: #872300;
}
/* line 100, ../../app/assets/stylesheets/buttons.scss */
.button.magneta, .magneta.tag, .tag.button.all, .tag.button.all:visited, .button.all, .all.tag, .button.all:visited, .all.tag:visited, .button:visited.magneta, .tag:visited.magneta, .tag.button.all:visited, .button.all:visited, .all.tag:visited {
  background-color: #a9014b;
}
/* line 102, ../../app/assets/stylesheets/buttons.scss */
.button.magneta.disabled, .magneta.disabled.tag, .disabled.tag.button.all, .disabled.tag.button.all:visited, .button.disabled.all, .disabled.all.tag, .button.disabled.all:visited, .disabled.all.tag:visited, .button:visited.magneta.disabled, .tag:visited.magneta.disabled, .tag.button.all:visited.disabled, .button.all:visited.disabled, .all.tag:visited.disabled {
  background-color: #7a4c60;
}
/* line 106, ../../app/assets/stylesheets/buttons.scss */
.button.magneta:hover, .magneta.tag:hover, .tag.button.all:hover, .tag.button.all:hover:visited, .button.all:hover, .all.tag:hover, .button.all:hover:visited, .all.tag:hover:visited, .button.magneta.active, .magneta.active.tag, .active.tag.button.all, .active.tag.button.all:visited, .button.active.all, .active.all.tag, .button.active.all:visited, .active.all.tag:visited, .button:visited.magneta:hover, .tag:visited.magneta:hover, .tag.button.all:visited:hover, .button.all:visited:hover, .all.tag:visited:hover, .button:visited.magneta.active, .tag:visited.magneta.active, .tag.button.all:visited.active, .button.all:visited.active, .all.tag:visited.active {
  background-color: #630030;
}
/* line 111, ../../app/assets/stylesheets/buttons.scss */
.button.orange, .orange.tag, .tag.button.warn, .tag.button.warn:visited, .button.warn, .warn.tag, .button.warn:visited, .warn.tag:visited, .button:visited.orange, .tag:visited.orange, .tag.button.warn:visited, .button.warn:visited, .warn.tag:visited {
  background-color: #ff5c00;
}
/* line 113, ../../app/assets/stylesheets/buttons.scss */
.button.orange.disabled, .orange.disabled.tag, .disabled.tag.button.warn, .disabled.tag.button.warn:visited, .button.disabled.warn, .disabled.warn.tag, .button.disabled.warn:visited, .disabled.warn.tag:visited, .button:visited.orange.disabled, .tag:visited.orange.disabled, .tag.button.warn:visited.disabled, .button.warn:visited.disabled, .warn.tag:visited.disabled {
  background-color: #a57255;
}
/* line 117, ../../app/assets/stylesheets/buttons.scss */
.button.orange:hover, .orange.tag:hover, .tag.button.warn:hover, .tag.button.warn:hover:visited, .button.warn:hover, .warn.tag:hover, .button.warn:hover:visited, .warn.tag:hover:visited, .button.orange.active, .orange.active.tag, .active.tag.button.warn, .active.tag.button.warn:visited, .button.active.warn, .active.warn.tag, .button.active.warn:visited, .active.warn.tag:visited, .button:visited.orange:hover, .tag:visited.orange:hover, .tag.button.warn:visited:hover, .button.warn:visited:hover, .warn.tag:visited:hover, .button:visited.orange.active, .tag:visited.orange.active, .tag.button.warn:visited.active, .button.warn:visited.active, .warn.tag:visited.active {
  background-color: #d45500;
}
/* line 122, ../../app/assets/stylesheets/buttons.scss */
.button.yellow, .yellow.tag, .tag.button.info, .tag.button.info:visited, .tag.button.paused, .tag.button.paused:visited, .button.info, .info.tag, .button.info:visited, .info.tag:visited, .button.paused, .paused.tag, .button.paused:visited, .paused.tag:visited, .button:visited.yellow, .tag:visited.yellow, .tag.button.info:visited, .tag.button.paused:visited, .button.info:visited, .info.tag:visited, .button.paused:visited, .paused.tag:visited {
  background-color: #ffb515;
}
/* line 124, ../../app/assets/stylesheets/buttons.scss */
.button.yellow.disabled, .yellow.disabled.tag, .disabled.tag.button.info, .disabled.tag.button.info:visited, .disabled.tag.button.paused, .disabled.tag.button.paused:visited, .button.disabled.info, .disabled.info.tag, .button.disabled.info:visited, .disabled.info.tag:visited, .button.disabled.paused, .disabled.paused.tag, .button.disabled.paused:visited, .disabled.paused.tag:visited, .button:visited.yellow.disabled, .tag:visited.yellow.disabled, .tag.button.info:visited.disabled, .tag.button.paused:visited.disabled, .button.info:visited.disabled, .info.tag:visited.disabled, .button.paused:visited.disabled, .paused.tag:visited.disabled {
  background-color: #c5aa6e;
}
/* line 128, ../../app/assets/stylesheets/buttons.scss */
.button.yellow:hover, .yellow.tag:hover, .tag.button.info:hover, .tag.button.info:hover:visited, .tag.button.paused:hover, .tag.button.paused:hover:visited, .button.info:hover, .info.tag:hover, .button.info:hover:visited, .info.tag:hover:visited, .button.paused:hover, .paused.tag:hover, .button.paused:hover:visited, .paused.tag:hover:visited, .button.yellow.active, .yellow.active.tag, .active.tag.button.info, .active.tag.button.info:visited, .active.tag.button.paused, .active.tag.button.paused:visited, .button.active.info, .active.info.tag, .button.active.info:visited, .active.info.tag:visited, .button.active.paused, .active.paused.tag, .button.active.paused:visited, .active.paused.tag:visited, .button:visited.yellow:hover, .tag:visited.yellow:hover, .tag.button.info:visited:hover, .tag.button.paused:visited:hover, .button.info:visited:hover, .info.tag:visited:hover, .button.paused:visited:hover, .paused.tag:visited:hover, .button:visited.yellow.active, .tag:visited.yellow.active, .tag.button.info:visited.active, .tag.button.paused:visited.active, .button.info:visited.active, .info.tag:visited.active, .button.paused:visited.active, .paused.tag:visited.active {
  background-color: #fc9200;
}
/* line 161, ../../app/assets/stylesheets/buttons.scss */
.button.go:after, .go.tag:after, .button:visited.go:after, .tag:visited.go:after {
  content: " »";
  float: right;
  font-size: 16px;
}
/* line 165, ../../app/assets/stylesheets/buttons.scss */
.button.go:after.small, .go.tag:after.small, .button:visited.go:after.small, .tag:visited.go:after.small {
  font-size: 12px;
}
