@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
  Stylesheet for general styling elements.
  Application specific styling is in application.scss.
*/
/* line 17, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../app/assets/stylesheets/buttons.scss */
ul.buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 11, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
ul.buttons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 60, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.buttons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.buttons li:first-child, ul.buttons li.first {
  padding-left: 0;
}
/* line 49, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.buttons li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.buttons li.last {
  padding-right: 0;
}

/* line 12, ../../app/assets/stylesheets/buttons.scss */
.tag {
  cursor: default !important;
  margin-right: 10px !important;
}
/* line 16, ../../app/assets/stylesheets/buttons.scss */
.tag:active {
  top: 0px !important;
}

/* line 21, ../../app/assets/stylesheets/buttons.scss */
.button, .tag, #header #logout, .button:visited, .tag:visited, #header #logout:visited {
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 0;
  border: 0;
  background: #222222 url(/assets/button_overlay.png) repeat-x;
  display: inline-block;
  padding: 8px 14px 9px;
  color: #fff !important;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  vertical-align: text-bottom;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica;
}
/* line 41, ../../app/assets/stylesheets/buttons.scss */
.button:hover, .tag:hover, #header #logout:hover, .button.active, .active.tag, #header .active#logout, .button:visited:hover, .tag:visited:hover, #header #logout:visited:hover, .button:visited.active, .tag:visited.active, #header #logout:visited.active {
  background-color: #111;
  color: #fff;
  text-decoration: none;
}
/* line 47, ../../app/assets/stylesheets/buttons.scss */
.button.active, .active.tag, #header .active#logout, .button:visited.active, .tag:visited.active, #header #logout:visited.active {
  margin-bottom: 10px !important;
}
/* line 50, ../../app/assets/stylesheets/buttons.scss */
.button:active, .tag:active, #header #logout:active, .button:visited:active, .tag:visited:active, #header #logout:visited:active {
  top: 1px;
}
/* line 53, ../../app/assets/stylesheets/buttons.scss */
.button:visited, .tag:visited, #header #logout:visited, .button:visited:visited, .tag:visited:visited, #header #logout:visited:visited {
  padding: 8px 14px 9px;
}
/* line 57, ../../app/assets/stylesheets/buttons.scss */
.button.small, .small.tag, #header .tag#logout, #header .small#logout, #header #logout, #header .button#logout, .button:visited.small, .tag:visited.small, #header .tag#logout:visited, #header #logout:visited.small, #header #logout:visited, #header .button#logout:visited {
  font-size: 11px;
  padding: 3px 5px 4px;
}
/* line 62, ../../app/assets/stylesheets/buttons.scss */
.button.tiny, .tiny.tag, #header .tiny#logout, .button:visited.tiny, .tag:visited.tiny, #header #logout:visited.tiny {
  font-size: 9px;
  padding: 2px 4px 3px;
}
/* line 67, ../../app/assets/stylesheets/buttons.scss */
.button.green, .green.tag, .tag.button.debug, .tag.button.debug:visited, .tag.button.enabled, .tag.button.enabled:visited, .button.debug, .debug.tag, #header .debug#logout, .button.debug:visited, .debug.tag:visited, #header .debug#logout:visited, .button.enabled, .enabled.tag, #header .enabled#logout, .button.enabled:visited, .enabled.tag:visited, #header .enabled#logout:visited, #header .green#logout, #header #logout.button.debug, #header #logout.button.debug:visited, #header #logout.button.enabled, #header #logout.button.enabled:visited, .button:visited.green, .tag:visited.green, .tag.button.debug:visited, .tag.button.enabled:visited, .button.debug:visited, .debug.tag:visited, #header .debug#logout:visited, .button.enabled:visited, .enabled.tag:visited, #header .enabled#logout:visited, #header #logout:visited.green, #header #logout.button.debug:visited, #header #logout.button.enabled:visited {
  background-color: #91bd09;
}
/* line 69, ../../app/assets/stylesheets/buttons.scss */
.button.green.disabled, .green.disabled.tag, .disabled.tag.button.debug, .disabled.tag.button.debug:visited, .disabled.tag.button.enabled, .disabled.tag.button.enabled:visited, .button.disabled.debug, .disabled.debug.tag, #header .disabled.debug#logout, .button.disabled.debug:visited, .disabled.debug.tag:visited, #header .disabled.debug#logout:visited, .button.disabled.enabled, .disabled.enabled.tag, #header .disabled.enabled#logout, .button.disabled.enabled:visited, .disabled.enabled.tag:visited, #header .disabled.enabled#logout:visited, #header .green.disabled#logout, #header .disabled#logout.button.debug, #header .disabled#logout.button.debug:visited, #header .disabled#logout.button.enabled, #header .disabled#logout.button.enabled:visited, .button:visited.green.disabled, .tag:visited.green.disabled, .tag.button.debug:visited.disabled, .tag.button.enabled:visited.disabled, .button.debug:visited.disabled, .debug.tag:visited.disabled, #header .debug#logout:visited.disabled, .button.enabled:visited.disabled, .enabled.tag:visited.disabled, #header .enabled#logout:visited.disabled, #header #logout:visited.green.disabled, #header #logout.button.debug:visited.disabled, #header #logout.button.enabled:visited.disabled {
  background-color: #818e5a;
}
/* line 73, ../../app/assets/stylesheets/buttons.scss */
.button.green:hover, .green.tag:hover, .tag.button.debug:hover, .tag.button.debug:hover:visited, .tag.button.enabled:hover, .tag.button.enabled:hover:visited, .button.debug:hover, .debug.tag:hover, #header .debug#logout:hover, .button.debug:hover:visited, .debug.tag:hover:visited, #header .debug#logout:hover:visited, .button.enabled:hover, .enabled.tag:hover, #header .enabled#logout:hover, .button.enabled:hover:visited, .enabled.tag:hover:visited, #header .enabled#logout:hover:visited, #header .green#logout:hover, #header #logout.button.debug:hover, #header #logout.button.debug:hover:visited, #header #logout.button.enabled:hover, #header #logout.button.enabled:hover:visited, .button.green.active, .green.active.tag, .active.tag.button.debug, .active.tag.button.debug:visited, .active.tag.button.enabled, .active.tag.button.enabled:visited, .button.active.debug, .active.debug.tag, #header .active.debug#logout, .button.active.debug:visited, .active.debug.tag:visited, #header .active.debug#logout:visited, .button.active.enabled, .active.enabled.tag, #header .active.enabled#logout, .button.active.enabled:visited, .active.enabled.tag:visited, #header .active.enabled#logout:visited, #header .green.active#logout, #header .active#logout.button.debug, #header .active#logout.button.debug:visited, #header .active#logout.button.enabled, #header .active#logout.button.enabled:visited, .button:visited.green:hover, .tag:visited.green:hover, .tag.button.debug:visited:hover, .tag.button.enabled:visited:hover, .button.debug:visited:hover, .debug.tag:visited:hover, #header .debug#logout:visited:hover, .button.enabled:visited:hover, .enabled.tag:visited:hover, #header .enabled#logout:visited:hover, #header #logout:visited.green:hover, #header #logout.button.debug:visited:hover, #header #logout.button.enabled:visited:hover, .button:visited.green.active, .tag:visited.green.active, .tag.button.debug:visited.active, .tag.button.enabled:visited.active, .button.debug:visited.active, .debug.tag:visited.active, #header .debug#logout:visited.active, .button.enabled:visited.active, .enabled.tag:visited.active, #header .enabled#logout:visited.active, #header #logout:visited.green.active, #header #logout.button.debug:visited.active, #header #logout.button.enabled:visited.active {
  background-color: #749a02;
}
/* line 78, ../../app/assets/stylesheets/buttons.scss */
.button.blue, .blue.tag, #header .blue#logout, .button:visited.blue, .tag:visited.blue, #header #logout:visited.blue {
  background-color: #2daebf;
}
/* line 80, ../../app/assets/stylesheets/buttons.scss */
.button.blue.disabled, .blue.disabled.tag, #header .blue.disabled#logout, .button:visited.blue.disabled, .tag:visited.blue.disabled, #header #logout:visited.blue.disabled {
  background-color: #578e95;
}
/* line 84, ../../app/assets/stylesheets/buttons.scss */
.button.blue:hover, .blue.tag:hover, #header .blue#logout:hover, .button.blue.active, .blue.active.tag, #header .blue.active#logout, .button:visited.blue:hover, .tag:visited.blue:hover, #header #logout:visited.blue:hover, .button:visited.blue.active, .tag:visited.blue.active, #header #logout:visited.blue.active {
  background-color: #007d9a;
}
/* line 89, ../../app/assets/stylesheets/buttons.scss */
.button.red, .red.tag, .tag.button.error, .tag.button.error:visited, .tag.button.disabled, .tag.button.disabled:visited, #header .tag#logout, .button.error, .error.tag, #header .error#logout, .button.error:visited, .error.tag:visited, #header .error#logout:visited, .button.disabled, .disabled.tag, #header .disabled#logout, .button.disabled:visited, .disabled.tag:visited, #header .disabled#logout:visited, #header .red#logout, #header #logout.button.error, #header #logout.button.error:visited, #header #logout.button.disabled, #header #logout.button.disabled:visited, #header #logout, #header .button#logout, .button:visited.red, .tag:visited.red, .tag.button.error:visited, .tag.button.disabled:visited, #header .tag#logout:visited, .button.error:visited, .error.tag:visited, #header .error#logout:visited, .button.disabled:visited, .disabled.tag:visited, #header .disabled#logout:visited, #header #logout:visited.red, #header #logout.button.error:visited, #header #logout.button.disabled:visited, #header #logout:visited, #header .button#logout:visited {
  background-color: #e33100;
}
/* line 91, ../../app/assets/stylesheets/buttons.scss */
.red.disabled.tag, .disabled.tag.button.error, .disabled.tag.button.error:visited, .disabled.tag.button, .disabled.tag.button:visited, #header .disabled.tag#logout, .button.disabled.error, .disabled.error.tag, #header .disabled.error#logout, .button.disabled.error:visited, .disabled.error.tag:visited, #header .disabled.error#logout:visited, .button.disabled, .disabled.tag, #header .disabled#logout, .button.disabled:visited, .disabled.tag:visited, #header .disabled#logout:visited, #header .red.disabled#logout, #header .disabled#logout.button.error, #header .disabled#logout.button.error:visited, #header .disabled#logout.button, #header .disabled#logout.button:visited, .tag:visited.red.disabled, .tag.button.error:visited.disabled, .tag.button:visited.disabled, #header .tag#logout:visited.disabled, .button.error:visited.disabled, .error.tag:visited.disabled, #header .error#logout:visited.disabled, .button:visited.disabled, .tag:visited.disabled, #header #logout:visited.disabled, #header #logout:visited.red.disabled, #header #logout.button.error:visited.disabled, #header #logout.button:visited.disabled {
  background-color: #a56857;
}
/* line 95, ../../app/assets/stylesheets/buttons.scss */
.button.red:hover, .red.tag:hover, .tag.button.error:hover, .tag.button.error:hover:visited, .tag.button.disabled:hover, .tag.button.disabled:hover:visited, #header .tag#logout:hover, .button.error:hover, .error.tag:hover, #header .error#logout:hover, .button.error:hover:visited, .error.tag:hover:visited, #header .error#logout:hover:visited, .button.disabled:hover, .disabled.tag:hover, #header .disabled#logout:hover, .button.disabled:hover:visited, .disabled.tag:hover:visited, #header .disabled#logout:hover:visited, #header .red#logout:hover, #header #logout.button.error:hover, #header #logout.button.error:hover:visited, #header #logout.button.disabled:hover, #header #logout.button.disabled:hover:visited, #header #logout:hover, #header .button#logout:hover, .button.red.active, .red.active.tag, .active.tag.button.error, .active.tag.button.error:visited, .active.tag.button.disabled, .active.tag.button.disabled:visited, #header .active.tag#logout, .button.active.error, .active.error.tag, #header .active.error#logout, .button.active.error:visited, .active.error.tag:visited, #header .active.error#logout:visited, .button.active.disabled, .active.disabled.tag, #header .active.disabled#logout, .button.active.disabled:visited, .active.disabled.tag:visited, #header .active.disabled#logout:visited, #header .red.active#logout, #header .active#logout.button.error, #header .active#logout.button.error:visited, #header .active#logout.button.disabled, #header .active#logout.button.disabled:visited, #header .active#logout, #header .button.active#logout, .button:visited.red:hover, .tag:visited.red:hover, .tag.button.error:visited:hover, .tag.button.disabled:visited:hover, #header .tag#logout:visited:hover, .button.error:visited:hover, .error.tag:visited:hover, #header .error#logout:visited:hover, .button.disabled:visited:hover, .disabled.tag:visited:hover, #header .disabled#logout:visited:hover, #header #logout:visited.red:hover, #header #logout.button.error:visited:hover, #header #logout.button.disabled:visited:hover, #header #logout:visited:hover, #header .button#logout:visited:hover, .button:visited.red.active, .tag:visited.red.active, .tag.button.error:visited.active, .tag.button.disabled:visited.active, #header .tag#logout:visited.active, .button.error:visited.active, .error.tag:visited.active, #header .error#logout:visited.active, .button.disabled:visited.active, .disabled.tag:visited.active, #header .disabled#logout:visited.active, #header #logout:visited.red.active, #header #logout.button.error:visited.active, #header #logout.button.disabled:visited.active, #header #logout:visited.active, #header .button#logout:visited.active {
  background-color: #872300;
}
/* line 100, ../../app/assets/stylesheets/buttons.scss */
.button.magneta, .magneta.tag, .tag.button.all, .tag.button.all:visited, .button.all, .all.tag, #header .all#logout, .button.all:visited, .all.tag:visited, #header .all#logout:visited, #header .magneta#logout, #header #logout.button.all, #header #logout.button.all:visited, .button:visited.magneta, .tag:visited.magneta, .tag.button.all:visited, .button.all:visited, .all.tag:visited, #header .all#logout:visited, #header #logout:visited.magneta, #header #logout.button.all:visited {
  background-color: #a9014b;
}
/* line 102, ../../app/assets/stylesheets/buttons.scss */
.button.magneta.disabled, .magneta.disabled.tag, .disabled.tag.button.all, .disabled.tag.button.all:visited, .button.disabled.all, .disabled.all.tag, #header .disabled.all#logout, .button.disabled.all:visited, .disabled.all.tag:visited, #header .disabled.all#logout:visited, #header .magneta.disabled#logout, #header .disabled#logout.button.all, #header .disabled#logout.button.all:visited, .button:visited.magneta.disabled, .tag:visited.magneta.disabled, .tag.button.all:visited.disabled, .button.all:visited.disabled, .all.tag:visited.disabled, #header .all#logout:visited.disabled, #header #logout:visited.magneta.disabled, #header #logout.button.all:visited.disabled {
  background-color: #7a4c60;
}
/* line 106, ../../app/assets/stylesheets/buttons.scss */
.button.magneta:hover, .magneta.tag:hover, .tag.button.all:hover, .tag.button.all:hover:visited, .button.all:hover, .all.tag:hover, #header .all#logout:hover, .button.all:hover:visited, .all.tag:hover:visited, #header .all#logout:hover:visited, #header .magneta#logout:hover, #header #logout.button.all:hover, #header #logout.button.all:hover:visited, .button.magneta.active, .magneta.active.tag, .active.tag.button.all, .active.tag.button.all:visited, .button.active.all, .active.all.tag, #header .active.all#logout, .button.active.all:visited, .active.all.tag:visited, #header .active.all#logout:visited, #header .magneta.active#logout, #header .active#logout.button.all, #header .active#logout.button.all:visited, .button:visited.magneta:hover, .tag:visited.magneta:hover, .tag.button.all:visited:hover, .button.all:visited:hover, .all.tag:visited:hover, #header .all#logout:visited:hover, #header #logout:visited.magneta:hover, #header #logout.button.all:visited:hover, .button:visited.magneta.active, .tag:visited.magneta.active, .tag.button.all:visited.active, .button.all:visited.active, .all.tag:visited.active, #header .all#logout:visited.active, #header #logout:visited.magneta.active, #header #logout.button.all:visited.active {
  background-color: #630030;
}
/* line 111, ../../app/assets/stylesheets/buttons.scss */
.button.orange, .orange.tag, .tag.button.warn, .tag.button.warn:visited, .button.warn, .warn.tag, #header .warn#logout, .button.warn:visited, .warn.tag:visited, #header .warn#logout:visited, #header .orange#logout, #header #logout.button.warn, #header #logout.button.warn:visited, .button:visited.orange, .tag:visited.orange, .tag.button.warn:visited, .button.warn:visited, .warn.tag:visited, #header .warn#logout:visited, #header #logout:visited.orange, #header #logout.button.warn:visited {
  background-color: #ff5c00;
}
/* line 113, ../../app/assets/stylesheets/buttons.scss */
.button.orange.disabled, .orange.disabled.tag, .disabled.tag.button.warn, .disabled.tag.button.warn:visited, .button.disabled.warn, .disabled.warn.tag, #header .disabled.warn#logout, .button.disabled.warn:visited, .disabled.warn.tag:visited, #header .disabled.warn#logout:visited, #header .orange.disabled#logout, #header .disabled#logout.button.warn, #header .disabled#logout.button.warn:visited, .button:visited.orange.disabled, .tag:visited.orange.disabled, .tag.button.warn:visited.disabled, .button.warn:visited.disabled, .warn.tag:visited.disabled, #header .warn#logout:visited.disabled, #header #logout:visited.orange.disabled, #header #logout.button.warn:visited.disabled {
  background-color: #a57255;
}
/* line 117, ../../app/assets/stylesheets/buttons.scss */
.button.orange:hover, .orange.tag:hover, .tag.button.warn:hover, .tag.button.warn:hover:visited, .button.warn:hover, .warn.tag:hover, #header .warn#logout:hover, .button.warn:hover:visited, .warn.tag:hover:visited, #header .warn#logout:hover:visited, #header .orange#logout:hover, #header #logout.button.warn:hover, #header #logout.button.warn:hover:visited, .button.orange.active, .orange.active.tag, .active.tag.button.warn, .active.tag.button.warn:visited, .button.active.warn, .active.warn.tag, #header .active.warn#logout, .button.active.warn:visited, .active.warn.tag:visited, #header .active.warn#logout:visited, #header .orange.active#logout, #header .active#logout.button.warn, #header .active#logout.button.warn:visited, .button:visited.orange:hover, .tag:visited.orange:hover, .tag.button.warn:visited:hover, .button.warn:visited:hover, .warn.tag:visited:hover, #header .warn#logout:visited:hover, #header #logout:visited.orange:hover, #header #logout.button.warn:visited:hover, .button:visited.orange.active, .tag:visited.orange.active, .tag.button.warn:visited.active, .button.warn:visited.active, .warn.tag:visited.active, #header .warn#logout:visited.active, #header #logout:visited.orange.active, #header #logout.button.warn:visited.active {
  background-color: #d45500;
}
/* line 122, ../../app/assets/stylesheets/buttons.scss */
.button.yellow, .yellow.tag, .tag.button.info, .tag.button.info:visited, .tag.button.paused, .tag.button.paused:visited, .button.info, .info.tag, #header .info#logout, .button.info:visited, .info.tag:visited, #header .info#logout:visited, .button.paused, .paused.tag, #header .paused#logout, .button.paused:visited, .paused.tag:visited, #header .paused#logout:visited, #header .yellow#logout, #header #logout.button.info, #header #logout.button.info:visited, #header #logout.button.paused, #header #logout.button.paused:visited, .button:visited.yellow, .tag:visited.yellow, .tag.button.info:visited, .tag.button.paused:visited, .button.info:visited, .info.tag:visited, #header .info#logout:visited, .button.paused:visited, .paused.tag:visited, #header .paused#logout:visited, #header #logout:visited.yellow, #header #logout.button.info:visited, #header #logout.button.paused:visited {
  background-color: #ffb515;
}
/* line 124, ../../app/assets/stylesheets/buttons.scss */
.button.yellow.disabled, .yellow.disabled.tag, .disabled.tag.button.info, .disabled.tag.button.info:visited, .disabled.tag.button.paused, .disabled.tag.button.paused:visited, .button.disabled.info, .disabled.info.tag, #header .disabled.info#logout, .button.disabled.info:visited, .disabled.info.tag:visited, #header .disabled.info#logout:visited, .button.disabled.paused, .disabled.paused.tag, #header .disabled.paused#logout, .button.disabled.paused:visited, .disabled.paused.tag:visited, #header .disabled.paused#logout:visited, #header .yellow.disabled#logout, #header .disabled#logout.button.info, #header .disabled#logout.button.info:visited, #header .disabled#logout.button.paused, #header .disabled#logout.button.paused:visited, .button:visited.yellow.disabled, .tag:visited.yellow.disabled, .tag.button.info:visited.disabled, .tag.button.paused:visited.disabled, .button.info:visited.disabled, .info.tag:visited.disabled, #header .info#logout:visited.disabled, .button.paused:visited.disabled, .paused.tag:visited.disabled, #header .paused#logout:visited.disabled, #header #logout:visited.yellow.disabled, #header #logout.button.info:visited.disabled, #header #logout.button.paused:visited.disabled {
  background-color: #c5aa6e;
}
/* line 128, ../../app/assets/stylesheets/buttons.scss */
.button.yellow:hover, .yellow.tag:hover, .tag.button.info:hover, .tag.button.info:hover:visited, .tag.button.paused:hover, .tag.button.paused:hover:visited, .button.info:hover, .info.tag:hover, #header .info#logout:hover, .button.info:hover:visited, .info.tag:hover:visited, #header .info#logout:hover:visited, .button.paused:hover, .paused.tag:hover, #header .paused#logout:hover, .button.paused:hover:visited, .paused.tag:hover:visited, #header .paused#logout:hover:visited, #header .yellow#logout:hover, #header #logout.button.info:hover, #header #logout.button.info:hover:visited, #header #logout.button.paused:hover, #header #logout.button.paused:hover:visited, .button.yellow.active, .yellow.active.tag, .active.tag.button.info, .active.tag.button.info:visited, .active.tag.button.paused, .active.tag.button.paused:visited, .button.active.info, .active.info.tag, #header .active.info#logout, .button.active.info:visited, .active.info.tag:visited, #header .active.info#logout:visited, .button.active.paused, .active.paused.tag, #header .active.paused#logout, .button.active.paused:visited, .active.paused.tag:visited, #header .active.paused#logout:visited, #header .yellow.active#logout, #header .active#logout.button.info, #header .active#logout.button.info:visited, #header .active#logout.button.paused, #header .active#logout.button.paused:visited, .button:visited.yellow:hover, .tag:visited.yellow:hover, .tag.button.info:visited:hover, .tag.button.paused:visited:hover, .button.info:visited:hover, .info.tag:visited:hover, #header .info#logout:visited:hover, .button.paused:visited:hover, .paused.tag:visited:hover, #header .paused#logout:visited:hover, #header #logout:visited.yellow:hover, #header #logout.button.info:visited:hover, #header #logout.button.paused:visited:hover, .button:visited.yellow.active, .tag:visited.yellow.active, .tag.button.info:visited.active, .tag.button.paused:visited.active, .button.info:visited.active, .info.tag:visited.active, #header .info#logout:visited.active, .button.paused:visited.active, .paused.tag:visited.active, #header .paused#logout:visited.active, #header #logout:visited.yellow.active, #header #logout.button.info:visited.active, #header #logout.button.paused:visited.active {
  background-color: #fc9200;
}
/* line 161, ../../app/assets/stylesheets/buttons.scss */
.button.go:after, .go.tag:after, #header .go#logout:after, .button:visited.go:after, .tag:visited.go:after, #header #logout:visited.go:after {
  content: " »";
  float: right;
  font-size: 16px;
}
/* line 165, ../../app/assets/stylesheets/buttons.scss */
.button.go:after.small, .go.tag:after.small, #header .go.tag#logout:after, #header .go#logout:after.small, #header .go#logout:after, #header .button.go#logout:after, .button:visited.go:after.small, .tag:visited.go:after.small, #header .tag#logout:visited.go:after, #header #logout:visited.go:after.small, #header #logout:visited.go:after, #header .button#logout:visited.go:after {
  font-size: 12px;
}

/* line 22, ../../app/assets/stylesheets/screen.scss */
body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  color: #111111;
  background: url(/assets/background.jpg) left top no-repeat;
  background-size: cover;
}
/* line 29, ../../app/assets/stylesheets/screen.scss */
body h1 {
  font-size: 24px;
  margin: 5px 0;
}
/* line 33, ../../app/assets/stylesheets/screen.scss */
body h2 {
  font-size: 18px;
  margin: 10px 0;
}
/* line 37, ../../app/assets/stylesheets/screen.scss */
body h3 {
  font-size: 16px;
  margin: 5px 0;
}
/* line 41, ../../app/assets/stylesheets/screen.scss */
body h4 {
  font-size: 14px;
  margin: 5px 0;
}
/* line 46, ../../app/assets/stylesheets/screen.scss */
body strong {
  font-weight: bold;
}
/* line 50, ../../app/assets/stylesheets/screen.scss */
body .clear_fix {
  clear: both;
}
/* line 54, ../../app/assets/stylesheets/screen.scss */
body #header, body #body, body #footer {
  width: 980px;
  margin: 5px auto;
  padding: 0;
  clear: both;
}
/* line 59, ../../app/assets/stylesheets/screen.scss */
body a {
  color: #0000cc;
  text-decoration: none;
}
/* line 63, ../../app/assets/stylesheets/screen.scss */
body a:hover, body a:visited {
  text-decoration: none;
}

/* line 72, ../../app/assets/stylesheets/screen.scss */
#header {
  border: 0;
  border-bottom: 1px solid #ccc;
}
/* line 76, ../../app/assets/stylesheets/screen.scss */
#header h1 {
  float: left;
}
/* line 80, ../../app/assets/stylesheets/screen.scss */
#header #logout {
  float: right;
}

/* line 92, ../../app/assets/stylesheets/screen.scss */
#body #notice, #body #alert {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
/* line 98, ../../app/assets/stylesheets/screen.scss */
#body #notice {
  background: #E8EFC2;
  color: #264409;
  border-color: #C6D880;
}
/* line 103, ../../app/assets/stylesheets/screen.scss */
#body #notice a {
  color: #264409;
}
/* line 108, ../../app/assets/stylesheets/screen.scss */
#body #alert {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}
/* line 113, ../../app/assets/stylesheets/screen.scss */
#body #alert a {
  color: #8a1f11;
}
/* line 118, ../../app/assets/stylesheets/screen.scss */
#body table {
  width: 100%;
}
/* line 2, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#body table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#body table td,
#body table th {
  padding: 2px;
}
/* line 8, ../../../../Users/Bram/.rvm/gems/ruby-1.9.2-p180@ringr/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#body table td.numeric,
#body table th.numeric {
  text-align: right;
}
/* line 123, ../../app/assets/stylesheets/screen.scss */
#body table thead tr {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#e7e7e7, #f1f1f1);
  background-image: -moz-linear-gradient(#e7e7e7, #f1f1f1);
  background-image: -o-linear-gradient(#e7e7e7, #f1f1f1);
  background-image: -ms-linear-gradient(#e7e7e7, #f1f1f1);
  background-image: linear-gradient(#e7e7e7, #f1f1f1);
  border: 1px solid #aaaaaa;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #777777;
}
/* line 128, ../../app/assets/stylesheets/screen.scss */
#body table thead tr th {
  padding: 7px 5px;
}
/* line 25, ../../app/assets/stylesheets/variables.scss */
#body table tr.even {
  background: #eeeeee;
}
/* line 28, ../../app/assets/stylesheets/variables.scss */
#body table tr.odd {
  background: white;
}
/* line 137, ../../app/assets/stylesheets/screen.scss */
#body table tr td, #body table tr th {
  vertical-align: top;
  padding: 5px;
  text-align: left;
  line-height: 16px;
}
/* line 143, ../../app/assets/stylesheets/screen.scss */
#body table tr td span.title, #body table tr th span.title {
  display: block;
}
/* line 146, ../../app/assets/stylesheets/screen.scss */
#body table tr td span.sub_title, #body table tr th span.sub_title {
  color: #777777;
}

/* line 154, ../../app/assets/stylesheets/screen.scss */
.pagination {
  background: #e1e1e1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}
/* line 160, ../../app/assets/stylesheets/screen.scss */
.pagination a, .pagination span {
  padding: 0.2em 0.3em;
}
/* line 163, ../../app/assets/stylesheets/screen.scss */
.pagination .disabled {
  color: #aaaaaa;
}
/* line 167, ../../app/assets/stylesheets/screen.scss */
.pagination .current {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: bold;
  background-color: #c8c8c8;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
}
/* line 180, ../../app/assets/stylesheets/screen.scss */
.pagination a {
  text-decoration: none;
  color: black;
}
/* line 183, ../../app/assets/stylesheets/screen.scss */
.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}

/* line 192, ../../app/assets/stylesheets/screen.scss */
#footer {
  border: 0;
  border-top: 1px solid #ccc;
}
/* line 196, ../../app/assets/stylesheets/screen.scss */
#footer .copyright {
  float: right;
  display: inline-block;
  margin: 5px 0 0 0;
}
