$site_width:              980px;
$text_color:              #111;
$link_color:              #00C;
$link_active_color:       #000;
$even_row_color:          #eee;
$odd_row_color:           #fff;
$dark_intersection:       #222;

// Navigation colors
$nav_gray_start:          #F1F1F1;//#E5E5E5; // Hard coded for IE in navigation_bar.scss
$nav_gray_end:            darken($nav_gray_start, 4%);//#C4C4C4;  // Hard coded for IE in navigation_bar.scss
$nav_border:              #AAAAAA;
$nav_active_start:        #9393FF;  // Hard coded for IE in navigation_bar.scss
$nav_active_end:          darken($nav_active_start,7%); // Hard coded for IE in navigation_bar.scss


// Functions
@mixin centered_element($margin: 0px) {
  width               : $site_width;
  margin              : $margin auto;
  padding             : 0;
}

@mixin cycle_colors($even_color, $odd_color) {
  &.even {
    background: $even_color;
  }
  &.odd {
    background: $odd_color;
  }
}

